body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.light-mode {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    color: rgb(252, 217, 23);
}

.dark-mode {
    background: #121212;
    color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: darkred;
    padding: 15px;
    color: rgb(229, 250, 43);
    font-weight: bold;
}

.header-left .college-logo {
    width: 150px;
    height: 150px;
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

#mode-toggle {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.profile-container {
    position: relative;
    cursor: pointer;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #ff4081, #ff9800, #4caf50, #2196f3);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.dropdown.show {
    display: block;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.side-image {
    width: 400px; 
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.form-container {
    background: rgb(132, 214, 210);
    color: black;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

select, button {
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    background: linear-gradient(to right,#ff4081,#ff9800,#4caf50,#2196f3);
    color: white;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(to right,#2196f3,#4caf50,#ff9800,#ff4081);
    transform: scale(1.05);
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: darkred;
    color: white;
}

.contact-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.contact-item {
    text-align: center;
}

.linkedin-icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
